#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#blocklist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
}

textarea {
    height: 10em;
}

#save-btn {
    margin: 1em auto;
    padding: 0.5em 2em;
}
